<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  <meta name="description" content="{{ .Params.description | default .Site.Params.description }}">
  {{ if .Params.keywords }}
    <meta name="keywords" content="{{ delimit .Params.keywords ", " }}">
  {{ else }}
    <meta name="keywords" content="{{ delimit .Site.Params.keywords ", " }}">
  {{ end }}
  <meta name="author" content="{{ .Site.Params.author }}">
  <link rel="stylesheet" href="/css/custom.css">
  <link rel="icon" href="{{ .Site.Params.favicon }}">
</head>
