<header>
  <div class="container">
    <div class="header-content">
     <img src="/img/enso-logo.png" alt="Titanium Monk Logo" class="logo-circle">
      <a href="/" class="logo">
        <div class="logo-circle">
          <div class="monk-silhouette"></div>
        </div>
        <div class="logo-text">
          <h1>Wesley Steehouwer</h1>
          <span class="subtitle">The Titanium Monk</span>
        </div>
      </a>
      <nav>
        <ul class="nav-links">
          {{ range .Site.Menus.main }}
            <li><a href="{{ .URL }}" {{ if eq .URL $.RelPermalink }}class="active"{{ end }}>{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </nav>
    </div>
  </div>
</header>
